// Colors

$color-brand: royalblue;

$color-background: #fff;
$color-background-dark: #f3f3f3;

$color-text: #333;
$color-text-light: #888;
$color-text-disable: #ccc;

$color-border: #eee;

// Units

$space-unit: 16px;
